.imagediv {
    position: absolute;
    display: flex;
    padding: 0px;
    margin-left: 0%;
    display: inline-block;
    overflow: hidden;
    margin-top: 5px;
    width: 250px;
    height: 100px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.titulo {
    padding: 10px;
    font-size: 1.1em;
    color: rgb(6, 6, 177);
    text-decoration: underline;
    font-weight: bold;
}

.subtitulo {
    font-size: 1em;
    color: rgb(6, 6, 177);
    font-weight: bold;
    margin-bottom: 5px;
}

.inputs {
    font-size: 1em;
    color: rgb(6, 6, 177);
    text-decoration: underline;
    font-weight: 400
}

.doc {
    margin-bottom: 5px;
}
